body{background-color: rgb(255, 255, 255);}
h2{
color: rgb(255, 255, 255);  
background-color: black;  
font-style: italic;
font-size: 200%;
}
h3{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-size: medium;
    font-size: 200%;
}
h1{
    color: beige;
    background-color: black;
    font-style: italic;
    font-size: 200%;
}